body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23564C54' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFFFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}



a {
    text-decoration: none;
    color: #fffcf1;
}



/* Estilo del contenedor del checkbox */
.check {
    position: relative;
    display: block;
    width: 4vw;
    height: 2vw;
    background-color: #fffcf1; /* Fondo inicialmente blanco */
    cursor: pointer;
    border-radius: 2vw;
    overflow: hidden;
    transition: ease-in 0.5s;
}

/* Cambiar el fondo del contenedor cuando el checkbox está marcado */
input[type="checkbox"]:checked ~ .check {
    background: #092c3e; /* Fondo azul cuando marcado */
    border: 2px solid #092c3e; /* Borde azul */
}

/* Estilo del círculo que se mueve cuando el checkbox está marcado */
.check::before {
    content: '';
    position: absolute;
    top: 0.2vw;
    left: 0.2vw;
    background-color: #092c3e; /* Círculo inicialmente azul */
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    transition: 0.5s;
}

/* Estilo del segundo círculo que se mueve cuando el checkbox está marcado */
.check::after {
    content: '';
    position: absolute;
    top: 0.2vw;
    right: 0.2vw;
    background-color: #fffcf1; /* Círculo inicialmente blanco */
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(-5vw); /* Mover a la izquierda cuando marcado */
}


.nav-superior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0vw 1vw 0.6vw 1vw;
    color: #fffcf1;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

.nav-superior .menu {
    color: #fffcf1;
    transition: color 0.3s;
}


.nav-superior .menu:hover {
    color: #ebb40c;
}


#menu .menu:hover {
    color: #ebb40c;
}



a.menu {
    color: #fffcf1;
    transition: color 1s;
}




.btn-contrato {
    font-size: 1vw;
    padding: 0.5vw 1.6vw 0.5vw 1.6vw;
    background-color: #000000;
    color: #fffcf1;
    border-radius: 15px;
    transition: transform 0.3s;
}


.btn-contrato:hover {
    transform: scale(1.05);
    color: #ebb40c;
    transition: calc(1000);
}

.info * {
    color: #fffcf1;
}


.info p {
    color: #555555;
}


.info p * {
    color: #919191;
}


.btn-otro-contrato {
    background-color: #000000;
    color: #fffcf1;
    font-size: 1vw;
    padding: 0.6vw 1.6vw 0.6vw 1.6vw;
    margin-right: 1vw;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    transition: transform 0.3s;
}

.btn-otro-contrato:hover,
.btn-contrato:hover {
    box-shadow: 0vw 0.4vw 0.6vw 0.1vw #fbd53c;
}


.btn-resume {
    background-color: #fff;
    color: #000000;
    font-size: 1vw;
    padding: 0.6vw 1.6vw 0.6vw 1.6vw;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    transition: transform 0.3s;
}

.btn-resume:hover {
    box-shadow: 0vw 0.4vw 0.6vw 0.1vw #fbd53c;
}


.redes-sociales {
    background-color: #fff;
}

.barra {
    background-color: #ccc;
}


.progreso-container {
    background-color: #b0b0b0;
}


.progreso {
    background-color: #ebb40c;
}






.yo h4 {
    padding-top: 4vw;
    font-size: 2vw;
    color: #9ca3af;
    border-bottom: 1px solid #9ca3af;
    margin-bottom: 1vw;
    padding-bottom: 1vh;
}


.yo p {
    color: #747b87;
}





.habilidades-2 {
    background-color: #1a1a1a;
}


.habilidades-3 {
    background-color: #1a1a1a;
}




.habilidades-2 * {
    color: black;
}






.info-2 {
    color: black;
}

.la-habilidad h5 {
    color: #fffcf1;
}


.aprendi {
    background-color: #fffcf1;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    max-height: 100%;
    margin: 2vw;
    padding: 2vw;
    box-shadow: 0vw 0.4vw 0.6vw #092c3e;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 1vw;
    border-radius: 1vw;
}

.aprendi:hover,
.aprenda:hover {
    box-shadow: 0vw 6vw 8vw #092c3e;
    /* Cambia la sombra al pasar el ratón */
}

.aprenda {
    background-color: black;
    color: #fffcf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    max-height: 100%;
    margin: 2vw;
    padding: 2vw;
    box-shadow: 0vw 0.4vw 0.6vw #092c3e;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 1vw;
    border-radius: 1vw;
}
.paginas-web a {
    color: #fffcf1;
}


.paginas-web p {
    color: #fffcf1;
}



.center p {
    color: #fffcf1;
    font-size: 1.3vw;
}

.yelloww {
    color: #ecb91b;
}


.info-pasantia .yellow {
    font-size: 1.2vw;
    color: #ecb91b;
}


.info-pasantia .grey {
    font-size: 1vw;
    color: #757c89;
}


.info-pasantia .greyy {
    font-size: 1vw;
    color: #989da7;
}
.info-pasantia {
    width: 25vw;
    border: 1.1px solid #fbd53c;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 0vw 0.4vw 0.6vw 0.6vw #2c3e50;
}

.h3 {
    font-size: 2vw;
    color: #fffcf1;
}


#pasantia {
    color: #ebb611;
    border: 1px solid #ccc;
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 1vw;
    box-shadow: 0px 0.4vw 0.6vw 0.1vw #2c3e50;
    margin-bottom: 4vw;
    margin-left: 10vw;
}

.info-solicitud * {
    color: #fffcf1;
}


.formulario * {
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    padding-left: 1vw;
    border: none;
    box-shadow: 0vw 0.4vw 0.6vw 0.2vw #2c3e50;
}

.formulario input, textarea {
    background-color: #ffffffbe;
}


.flecha {
    padding: 0vw 0.2vw 0.5vw 0.2vw;
    border-radius: 0.3vw;
    background-color: #ffffffeb;
    color: #ffc414;
    font-size: 3vw;
    box-shadow: 0.4vw 0.6vw 0.6vw #2c3e50;
    margin-left: -3vw;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffcf1;
    background-color: #eab308;
    cursor: pointer;
    border-radius: 0.5vw;
    transition: transform 0.3s;
}

